*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* home section Css Start*/

.home{
    background-image: url('/assets/images/home1_BGI.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
}

.home .home-text{
   display: flex;
   justify-content: center;
   align-items: start;
   flex-direction: column;
   color: white;
   row-gap: 20px;
   position: relative;
   left: 250px;
   top: -50px;
}

#circle{
display: inline-block;
width: 100px;
height: 100px;
color: red;
}

#circle1{
display: flex;
width: 20px;
height: 1px;
border-radius: 50%;
color: white;
}

.home .home-text p:first-of-type{
    font-size: 60px;
    font-style: italic;
}
.home .home-text p:nth-child(3), .home .home-text h5{
    opacity: 70%;
}

.home .home-text .discover-button{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}

.home .home-text span{
    position: relative;
    right: 30px;
    bottom: 10px;
}

span img{
    width: 80px;
    height: 60px;
}

.home .home-text .discover-button button {
    width: 150px;
    height: 40px;
    color: white;
    text-align: center;
    background-color: rgba(75, 175, 71, 1);
    border-radius: 3px;
    border: none;
}

.home .home-text .discover-button img{
    width: 80px;
    height: 40px;
}

#span{

    color: rgb(238, 192, 68);
    position: relative;
    top: -3px;
    left: 10px;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    position: relative;
    bottom: 100px;
}

.boxes .box1, .box2, .box3{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.boxes .box1 img, .box2 img, .box3 img{
    width: 100px;
    height: 80px;
}
.boxes .box1 h2, .box2 h2, .box3 h2{
    color: rgb(238, 192, 68);
    font-style: italic;
}

.boxes .box1 p, .box2 p, .box3 p{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

@media(max-width:800px){
    /* body{
        height: 540px;
    } */
    .home{
        height: 540px;
    }
    .home .home-text{
        left: 50px;
    }
    .home .home-text h1{
        font-size: 20px;
    }
    .home .home-text p:first-of-type{
        font-size:40px;
    }
    .home .home-text p:nth-child(3){
        font-size: 10px;
        opacity: 70%;
    }
    .boxes{
        height: 170px;
        justify-content: space-around;
        column-gap: 10px;
        margin: 30px;
    }
    .boxes .box1, .box2, .box3{
        width: 200px;
        height: 100px;
        row-gap: 4px;
    }

    .boxes .box1 img, .box2 img, .box3 img{
        width: 50px;
        height: 50px;
    }

    .boxes .box1 h2, .box2 h2, .box3 h2{
        font-size: 15px;
    }
    .boxes .box1 p, .box2 p, .box3 p{
        font-size: 8px;
    }

}